<!--Main Content-->
  <main class = "container">
    <div class = "row">
      <div class = "col">
        <div class="jumbotron jumbotron-fluid" style="background-color: #CC584C;">
          <h1 class="display-4 text-center"><%= title %></h1>
        
      </div>
      </div>

    </div>
    <div class = "row">
    <div class = "col">
    
    <p class="lead" style="text-align:center"><b>Current Surveys</b></p>
    <hr class = "my-4">
    </div>

    </div>

    <div class="row">
      </div>
    </main>

    